.in {
  float: left;
  clear: left;
  width: 800px;
  height: 100px;
  margin: 0.2em 0;
  padding: 0.7em 0.8em;
  list-style: none;
  background-color: #b6b2b2;
  opacity: 0.9;
  border-left: 5px solid #bbe9f1;
  border-right: 5px solid #50cbe0;
  cursor: pointer;
  color: rgb(0, 0, 0);
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: small;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;

  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.in:hover {
  background-color: #f9f9f9;
  border-color: #00bde8;
}
