.App-clock {
  padding: 50px;
  border-radius: 15px 15px 15px 15px;
  width: 500px;
  height: 100px;
  cursor: pointer;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  background-color: rgb(255, 255, 255);
}
