
.table {

  width: 450px;
  height: 500px;
  border-radius: 2px;
  margin: auto;
  padding: 50px;
  background: inherit;
  border-radius: 2px;
  background: #F9F9F9;
  padding: 70px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  align-items: center;
 
    }

/* body {
  background-color:purple;
} */

body {
  background-image: url(https://images2.alphacoders.com/708/thumb-1920-708365.jpg);
}