body, html {
    height: 550px;
/* background-color: rgb(255, 152, 83); */

  }

 



.main1{
    background-color: rgb(255, 255, 255);

    height: 100%;
    
}


.logout{

    margin-left: 90%;
    border-radius: 30px;
    margin-top:15px ;
    margin-bottom: -40px;

}


.table1main{
    margin-top: -550px;
    margin-left: 350px;
    max-width: 1000px;
}