html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgb(223, 223, 223);
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgb(255, 255, 255)),
    to(#ffffff)
  );
}

.container {
  margin-left: -30px;
}

.meeting {
  width: 1100px;
  height: 650px;
  margin-top: -650px;
  margin-left: 400px;
  padding: 5%;
  border-radius: 15px;
  /* background-color: rgb(255, 255, 255); */
}

.clockdisplay {
  height: 100px;
  border-radius: 10px;
  width: 400px;
  margin-left: 700px;
  font-size: 60px;
  margin-top: 30px;
  background-color: rgb(252, 252, 255);
  transition: all 0.6s ease-in-out;
}

.icon {
  width: 42px;
  height: 42px;
}

/* ********************************** SideNav  ******************************************* */

.sidenav {
  height: 600px;
  width: 350px;
  margin-top: -270px;
  transform: translateX(-245px);
  transition: all 0.6s ease-in-out;
  background-color: #2d334e;
}

.topbro {
  width: 2000px;
}

.sidenav__close-icon {
  top: 15px;
  cursor: pointer;
  font-size: 20px;
  color: #ddd;
}

.sidenav__list {
  padding: 0;
  margin-top: 100px;
  list-style-type: none;
}

.sidenav__list-item {
  padding: 30px 30px 30px 30px;
  color: #ddd;
  font-size: large;
}

.sidenav__list-item:hover {
  background-color: rgba(231, 231, 231, 0.2);
  cursor: pointer;
}

.sidenav {
  position: relative;
  transform: translateX(0);
}

.sidenav__close-icon {
  visibility: hidden;
}
