.main_1 {
  width: 820px;
  height: 470px;
  /* background-color: rgb(37, 37, 131); */
  padding: 10px;
  border-radius: 15px;
  overflow: scroll;
  margin-left: 100px;
}

.button_main {
  margin-left: 200px;
  width: 400px;
}

.clockmain1 {
  margin-left: 150px;
  border-left: 5px solid #003842;
  border-right: 5px solid #2cc8e4;
  width: 500px;
}

.clock_info {
  margin-left: -40px;
}
