body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: rgb(255, 255, 255);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-family: "Trebuchet MS", sans-serif;
}

.wall {
  background-color: rgb(139, 177, 101);
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url("https://i.redd.it/b3esnz5ra34y.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

.center1 {
  height: 500px;
  width: 350px;
  margin: auto;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width: 400px;
  width: 100%;
  position: relative;
}
