body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  background: #ffffff;
  font-family: "Trebuchet MS", sans-serif;

}



.wall {

  height: 100%;
  width: 100%;
  
  /* background-image: url("https://i.redd.it/b3esnz5ra34y.jpg"); */
  /* background: rgba(255, 255, 255, 0.5); */
  background-repeat: no-repeat;
  background-position: right top;

}



.center1 {
  height: 600px;
  width: 290px;
  margin: auto;
  border-radius: 100px;
  margin-top: 100px;
  margin-left: 710px;
  background-color: #92A8D1;


}
