
  .btn-secondary{
    margin-left: 50px;
    margin-top: 10px;
  }

 
.field{

padding: 2px;
}




  .main {
    margin-left: 100px;

    padding: 70px;
    margin-top: 150px;
    border-radius: 5px;
    height: 300px;
    width: 300px;
  }







  .main:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);        
    width: 70%; 
    left: 15%;
    height: 100px;
    bottom: 0;
  }






  .login_text{
    text-align: center;
    margin-bottom: 10px;

  }


  .line{
    width: 380px;
    height: 1px;
    background-color: black;
    margin-left:-100px ;
  }



  .container{
    margin-top: -10px;
  }