
.nav-links{

  width: 40%;
  display: flex;
  justify-content: space-around;

  list-style: none;

  margin-left: 900px;

  border-radius: 50px;

  

}




.nav-links :hover {
  background-position: 100% 0;
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}





.nav-links{
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}