.main {
  width: 350px;
  height: 500px;
  border-radius: 5px;
  background: #ffffff;
  opacity: 0.9;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 90px;
  margin-left: 300px;
  margin-top: 100px;
}

.picture11{

  margin-left: -300px;
  margin-bottom: -650px;
  border-radius: 10px;
  background-image: url("https://media.giphy.com/media/eE0s0lpPeAU8g/giphy.gif");
  box-shadow: 0 14px 28px rgba(230, 204, 204, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-repeat: no-repeat;
  background-position: right top;
  width: 550px;
  height: 600px;
  background-color: rgb(142, 255, 142);

}

.message {
  font-size: small;
  color: rgb(245, 88, 88);
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

.field {
  width: 150px;
  height: 30px;
  /* border: 1px solid rgb(148, 148, 148); */
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
  /* background: hsla(0,0,0,0.5);  50% transparent */


}
